<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LY_SyncTicketData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LY_SyncTicketData.Properties.Settings>
            <setting name="LY_SyncTicketData_cn_entinfo_sdk3_WebService"
                serializeAs="String">
                <value>http://sdk3.entinfo.cn:8060/webservice.asmx</value>
            </setting>
        </LY_SyncTicketData.Properties.Settings>
    </applicationSettings>
</configuration>